:root{
  --main-color: #FFCDD6;
  --primary-color-font: #80261E;
  --secondary-color-font: #DD678A;
  --line-color: #D9849B;
  --school-color: #FF6763;
  --work--color: #FFB248;
  --personal-color: #e6e635;
  --shopping-color: #99E79B;
  --button-color: #0000FE;
}